# 3DS dev related files
*.3dsx
*.elf
*.smdh
build

# Temporarily ignore testing input
test/input

# Vim related files
*.json

# Ignore testing module
unity

# Ignore notes
./*.txt

# Ignore clangd related files
compile_flags.txt
