# 3DS dev related files
*.3dsx
*.elf
*.smdh
build

# Vim related files
*.json
compile_flags.txt

# VSCode stuff
.vscode
.github/*

# Ignore testing module and files
unity
*.bin

# Ignore notes
./*.txt

# Docker container keys
keys
